<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140477070395-p4jtelpchab8v33vt5kvsb22ugh34s40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140477070395-p4jtelpchab8v33vt5kvsb22ugh34s40</string>
	<key>API_KEY</key>
	<string>AIzaSyD6r9AAzoSLUU6bS8OX3ntTx9yKWEnYLiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>140477070395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hayetech.feedinsight</string>
	<key>PROJECT_ID</key>
	<string>feedinsight-ddcb8</string>
	<key>STORAGE_BUCKET</key>
	<string>feedinsight-ddcb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140477070395:ios:012efb7f8e682404b3701e</string>
	<key>DATABASE_URL</key>
	<string>https://feedinsight-ddcb8.firebaseio.com</string>
</dict>
</plist>