<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289492445670-t8e2cg5vhhvrlbq04ln3knv1psfahd4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289492445670-t8e2cg5vhhvrlbq04ln3knv1psfahd4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDipCCQ4NInM6P-nAQ7TUQgR9VdMr1qR8E</string>
	<key>GCM_SENDER_ID</key>
	<string>289492445670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hayetech.feedinsight</string>
	<key>PROJECT_ID</key>
	<string>feedinsight-3b617</string>
	<key>STORAGE_BUCKET</key>
	<string>feedinsight-3b617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289492445670:ios:aa3fe5fb8af3903e2cce27</string>
	<key>DATABASE_URL</key>
	<string>https://feedinsight-3b617.firebaseio.com</string>
</dict>
</plist>